*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial, sans-serif;
}

body{
background:#0f172a;
color:white;
}

header{
height:100vh;
background:linear-gradient(135deg,#2563eb,#9333ea);
}

nav{
display:flex;
justify-content:space-between;
padding:20px 50px;
}

nav ul{
display:flex;
list-style:none;
gap:20px;
}

nav a{
color:white;
text-decoration:none;
}

.hero{
text-align:center;
margin-top:120px;
}

.hero h1{
font-size:50px;
}

.hero h3{
margin:15px 0;
}

.btn{
display:inline-block;
padding:12px 25px;
background:white;
color:#2563eb;
border-radius:30px;
text-decoration:none;
margin-top:15px;
font-weight:bold;
}

section{
padding:60px 10%;
}

h2{
text-align:center;
margin-bottom:30px;
}

.cards{
display:grid;
grid-template-columns:repeat(auto-fit,minmax(150px,1fr));
gap:20px;
}

.card{
background:#1e293b;
padding:20px;
text-align:center;
border-radius:10px;
transition:0.3s;
}

.card:hover{
transform:translateY(-5px);
background:#2563eb;
}

.project-card{
background:#1e293b;
padding:20px;
margin:20px 0;
border-radius:10px;
}

button{
padding:12px 25px;
border:none;
background:#2563eb;
color:white;
border-radius:30px;
cursor:pointer;
}
